# ── Base de données PostgreSQL ────────── localhost
# DATABASE_URL="postgresql://postgres:admin1234@localhost/maam_buudu?sslmode=require"
# DATABASE_URL="postgresql://postgres:admin@localhost/maam_buudu"

# ── JWT ──────────────────────────────────────────
JWT_SECRET="b64e926b3f15ca137c6110805f42a6a494c31934498d81bb8446ce600ea9dc5438bf59455a0e2f58b801875bfa3d2aa0bbcbf75ec89333d41090d15e0cd8102f"
JWT_EXPIRES_IN="1d"

# ── Serveur ───────────────────────────────────────
PORT=3000
NODE_ENV=development

# ── URL publique de l'API (pour les URLs de photos) ──
API_BASE_URL="https://mam-buudu-api.onrender.com"

# ── CORS : origines autorisées (séparées par des virgules) ──
# En prod : laisser vide pour tout autoriser, ou mettre des domaines précis
CORS_ORIGIN="http://localhost:4201,http://localhost:4200,http://localhost:4202"



# Transaction pooler - pour l'application
DATABASE_URL="postgresql://postgres:Admin_postgres_supabase@db.phgfzrhdqixwdbcaojvi.supabase.co:5432/postgres?pgbouncer=true&sslmode=require"
# Session pooler - pour les migrations Prisma
DIRECT_URL="postgresql://postgres:Admin_postgres_supabase@db.phgfzrhdqixwdbcaojvi.supabase.co:5432/postgres?sslmode=require"